<section id="about">
   <div class="squiggly-line">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
   </div>
   <div class="about-title">
		<div class="main-title"><h3>About Us</h3></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque earum totam culpa, natus quasi ratione facilis fugiat blanditiis nam error.</p>
		<a href=""><span>Read More</span></a>
	</div>
   <div class="image-div">
      <div class="top-img"></div>
      <div class="bottom-img"></div>
   </div>
</section>
