<section id="hero">
	<div class="header">
		<div class="logo"><h3><span>Moun</span>tains</h3></div>
		<nav>
			<a href="">Our Story</a>
			<a href="">Journal</a>
			<a href="">Services</a>
			<a href="">Gallery</a>
			<a href="">Reviews</a>
			<a href="">Contact</a>
		</nav>
		<a href="" class="call-btn"><span>Call Us</span></a>
	</div>
	<div class="hero-title">
		<div class="main-title"><h1>Travel with Us<br><span>to the Mountains</span></h1></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque earum totam culpa, natus quasi ratione facilis fugiat blanditiis nam error.</p>
		<a href=""><span>Order Now</span></a>
	</div>
</section>
