<section id="journal">
   <div class="squiggly-line">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
   </div>
   <h1>Our Journal</h1>
   <div class="journal-container">
      <div><span class="icon1"></span></div>
      <div>
         <span></span>
         <h6>Love</h6>
         <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vel tempore et tenetur, dolore explicabo nobis possimus aliquid praesentium cupiditate corporis sed harum nemo placeat repellendus voluptatibus laboriosam beatae necessitatibus.</p>
         <h4><i>01</i></h4>
      </div>
      <div><span class="icon2"></span></div>
      <div>
         <span></span>
         <h6>Tree</h6>
         <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vel tempore et tenetur, dolore explicabo nobis possimus aliquid praesentium cupiditate corporis sed harum nemo placeat repellendus voluptatibus laboriosam beatae necessitatibus.</p>
         <h4><i>02</i></h4>
      </div>
      <div><span class="icon3"></span></div>
      <div>
         <span></span>
         <h6>Water</h6>
         <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vel tempore et tenetur, dolore explicabo nobis possimus aliquid praesentium cupiditate corporis sed harum nemo placeat repellendus voluptatibus laboriosam beatae necessitatibus.</p>
         <h4><i>03</i></h4>
      </div>
   </div>
</section>
